.navbar-container {
  padding-bottom: 2rem;
  padding-top: 2rem;
  a {
    border-bottom: transparent solid 3px;

    &.active {
      border-bottom: var(--color-accent-warm) solid 3px !important;
    }
  }
}
