@import "tailwindcss";

@theme {
  /* Fonts */
  --font-heading: "Playfair Display";
  --font-body: "JetBrains Mono", monospace;
  --font-accent: "Inter", sans-serif;

  /* Colors */
  --color-bg: #050505;

  --color-text: #e6eaf0;
  --color-text-muted: #B2C588;

  --color-accent-warm: #A93F06;
  --color-accent-cool: #b1c2d3;

  --color-card: #0b111c;
  --color-card-border: #050505;
  --swiper-navigation-color: #A93F06;

  /* Effects */
  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.4);
}

body {
  background-color: #050505;
  color: white;
  font-family: var(--font-body) !important;
  overflow-x: hidden;
}

html {
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h1 {
  font-weight: 900;
}

h2 {
  @media(max-width: 639px) {
    font-weight: 600;
    font-size: 1.25rem
  }
}

h3 {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--color-accent-cold);

  @media(max-width: 639px) {
    font-weight: 400;
    font-size: 1rem
  }
}

@layer components {
  .body-text {
    font-family: var(--font-body);
    color: var(--color-text-muted);
    line-height: 1.6;
  }

  .link-accent {
    color: var(--color-text);
    transition: opacity 0.2s ease;
  }

  .link-accent:hover {
    opacity: 0.7;
  }
}
